.returns_policy {
  height: auto;
  width: 65rem;
  margin: 8rem auto;
  font-size: 3rem;
  color: var(--text);
  margin-bottom: 18rem;
  h1 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--error);
    margin-bottom: 0.1rem;
  }
  p {
    font-size: 1.6rem;
    color: var(--bgLighter);
    margin-bottom: 3rem;
    a {
      font-size: 1.6rem;
      color: var(--btn);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
