.product_page {
  height: auto;
  margin: 0rem auto;
  color: var(--textSoft);
  .wrapper {
    display: flex;
    height: auto;
    width: 98%;
    margin: 3rem auto;
    gap: 2rem;
    .left {
      flex: 1;
      height: 80vh;
      position: sticky;
      top: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .img_ {
        display: flex;
        gap: 2rem;
        .img_picker {
          width: 7rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          .img_pick {
            border: 2px solid var(--bgLight);
            width: 6rem;
            height: 7rem;
            padding: 0.5rem;
            cursor: pointer;
            &:hover {
              border-color: var(--btnLight);
              img {
                scale: 0.9;
              }
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .current_image {
          flex: 1;
          height: 65vh;

          img {
            width: 94%;
            height: 100%;
          }
        }
      }
      .btns {
        display: flex;
        gap: 2rem;
        button {
          font-size: 1.6rem;
          padding: 2rem 0;
          flex: 1;
          border-radius: 1rem;
          display: flex;
          gap: 1rem;
          transition: all 300ms linear;
          .icon {
            font-size: 3rem;
            color: var(--text);
          }
          &:hover {
            flex: 1.2;
          }
          &:nth-child(1) {
            border: 2px solid var(--btn);
          }
          &:nth-child(2) {
            border: 2px solid var(--error);
          }
        }
      }
    }
    .right {
      flex: 1.4;
      height: auto;
      //   border: 1px solid red;
      padding: 1rem;
      h1 {
        font-size: 1.8rem;
        font-weight: 400;
        color: var(--btnLight);
      }
      .prices {
        display: flex;
        width: fit-content;
        gap: 1rem;
        align-items: center;
        position: relative;
        span {
          font-size: 3rem;
        }
        strike,
        small {
          font-size: 1.5rem;
          font-weight: 100;
          color: var(--textSoft);
        }
        .icon {
          color: var(--bgLighter);
          cursor: pointer;
        }
        .priceInfo {
          display: none;
          animation: zoom 200ms linear 1;
        }
        .show_price_details {
          &:hover {
            .priceInfo {
              display: block;
            }
          }
        }
      }
      .ratings {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;
        .stars {
          border: 1px solid green;
          display: flex;
          align-items: center;
          gap: 0.4rem;
          background-color: var(--success);
          border-radius: 0.3rem;
          padding: 0 0.4rem;
          span {
            font-size: 1.5rem;
          }
          .icon {
            font-size: 1.5rem;
            color: var(--text);
          }
        }
        .counts {
          font-size: 1.5rem;
          color: var(--textSoft);
        }
        .logo {
          .icon {
            font-size: 2.5rem;
            color: var(--btnLight);
          }
        }
      }
      .offers {
        margin-top: 0.5rem;
        b {
          font-size: 1.5rem;
          color: var(--error);
          font-weight: 200;
        }
        .offer {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin: 0.5rem 0;
          .icon {
            font-size: 2.3rem;
            color: var(--successLight);
            rotate: -100deg;
          }
          p {
            font-size: 1.4rem;
            color: var(--textSoft);
          }
        }
      }
      .product_detail {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        p{
          font-size: 1.5rem;
          color: var(--error);
        }
        .size_select {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          label{
            font-size: 1.4rem;
            color: var(--btn);
          }
          input{
            padding: 0.1rem;
            &[type='radio']{
              accent-color: var(--successLight);
            }
          }
        }
      }
      .pincode_check_ {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        .head {
          font-size: 1.6rem;
          color: var(--error);
          width: 10rem;
        }
        .pincode_wrap {
          padding-bottom: 0.3rem;
          display: flex;
          align-items: center;
          gap: 0.3rem;
          border-bottom: 2px solid var(--btn);
          .icon {
            width: 2.5rem;
            height: 2.5rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          input {
            padding: 0.2rem;
            font-size: 1.5rem;
            color: var(--textSoft);
            &::placeholder {
              font-size: 1.3rem;
            }
          }
          button {
            font-size: 1.5rem;
            color: var(--btn);
            padding: 0.3rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            &:hover {
              background-color: var(--bgLight);
            }
          }
        }
      }
      .description {
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
        .head {
          font-size: 1.6rem;
          color: var(--error);
        }
        .description_wrap {
          p {
            font-size: 1.4rem;
            color: var(--textSoft);
          }
        }
      }
      .specifications {
        border: 1px solid var(--border);
        margin-top: 3rem;
        .top {
          border-bottom: 1px solid var(--bgLight);
          padding: 0.5rem;
          b {
            font-size: 2.5rem;
            color: var(--error);
            font-weight: 200;
          }
        }
        .bottom_ {
          padding: 0.5rem;
          span {
            font-size: 1.8rem;
            color: var(--btn);
          }
          .fields {
            display: flex;
            margin: 1rem 0;
            .key,
            .value {
              flex: 1;
              font-size: 1.5rem;
              color: var(--bgLighter);
            }
            .value {
              flex: 2;
              color: var(--textSoft);
            }
          }
        }
      }
    }
  }
}

@keyframes zoom {
  0% {
    scale: 0.1;
  }
  100% {
    scale: 1;
  }
}