.product_list {
    margin: 2rem 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 3rem;
    color: var(--text);
  }