.categories {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  background-color: var(--bgDark);
  transition: all 300ms linear;
  z-index: 22;
  .cat_card {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      object-fit: cover;
      transition: all 200ms linear;
    }
    span {
      font-size: 1.3rem;
      color: var(--textSoft);
      transition: all 200ms linear;
    }
    &:hover {
      img {
        scale: 0.9;
      }
      span {
        color: var(--btnLight);
        scale: 1.2;
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(-16rem);
  }
  100% {
    transform: translateY(16rem);
  }
}
