.home {
    margin: 1rem auto;
    .discount_coupan {
      width: 80%;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .products_availability {
      margin: 2rem 0;
      h1 {
        font-size: 1.6rem;
        color: var(--btnLight);
        font-weight: 400;
      }
      span {
        font-size: 1.4rem;
        color: var(--successLight);
        font-weight: 500;
        margin-bottom: 0.2rem;
      }
      p {
        font-size: 1.4rem;
        color: var(--bgLighter);
        font-weight: 200;
        margin-bottom: 1rem;
      }
    }
  }
  