@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Maven+Pro:wght@400;500;700;800&family=Nunito:wght@400;700&display=swap");
:root {
  --bg: #18191a;
  --bgDark: #172126;
  --bgLight: #2f3940;
  --bgLighter: #5f6b73;
  --bgChat: #00939c;
  --error: #cf6679;
  --success: #008c72;
  --successLight: #02a676;
  --btn: #00939c;
  --btnLight: #10abb4;
  --text: #fff;
  --textSoft: rgba(255, 255, 255, 0.836);
  --border: #5f6b73;
  --fontP: "Abyssinica SIL", serif;
  --fontS: "Maven Pro", sans-serif;
}
