.card {
  flex: 1 1 30rem;
  margin-bottom: 2rem;
  height: auto;
  text-decoration: none;
  .img {
    width: 100%;
    height: 30rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  p {
    font-size: 2.7rem;
    color: var(--btn);
  }
  &:hover {
    scale: 1.05;
    text-decoration: underline;
    color: var(--btn);
  }
}
