.faq {
  width: 100%;
  height: auto;
  margin: 5rem 0;
  color: var(--textSoft);
  .wrapper {
    width: 65%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .img {
      width: 50rem;
      height: 25rem;
      margin-bottom: 3rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .faq_stripe {
      background-color: var(--bgLight);
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      padding: 0.5rem 2rem;
      .ques {
        display: flex;
        width: 100%;
        height: 8rem;
        align-items: center;
        justify-content: space-between;
        p {
          font-size: 2rem;
          font-weight: 100;
          color: var(--text);
        }
        .controls {
          cursor: pointer;
          .icon {
            font-size: 3rem;
            color: var(--btn);
          }
        }
      }
      .ans {
        overflow: hidden;
        animation: animate 200ms linear;
        padding: 1rem 0;
        p {
          font-size: 1.8rem;
          color: var(--textSoft);
        }
      }
    }
    .stripe {
      background-color: var(--bgDark);
      height: 10rem;
      display: flex;
      align-items: center;
      padding: 0 2rem;
      border-radius: 0.5rem;
      gap: 1rem;
      width: 100%;
      .icon {
        font-size: 5rem;
      }
      p {
        font-size: 2.6rem;
        font-weight: 500;
      }
      button {
        font-size: 1.8rem;
        background-color: var(--btn);
        text-transform: uppercase;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        margin-left: auto;
        .icon {
          font-size: 2.3rem;
          color: var(--text);
          rotate: -45deg;
        }
        &:hover {
          background-color: var(--btnLight);
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    height: 0rem;
  }
  100% {
    height: auto;
  }
}
